<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xbp.core.mapper.auth.MenusMapper">

	<resultMap id="MenusResult"  type="MenusModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="correlationId" column="CORRELATION_ID" jdbcType="INTEGER" />
		<result property="subsystemId" column="SUBSYSTEM_ID" jdbcType="INTEGER" />
		<result property="levelNum" column="LEVEL_NUM" jdbcType="INTEGER" />
		<result property="parentId" column="PARENT_ID" jdbcType="INTEGER" />
		<result property="moduleId" column="MODULE_ID" jdbcType="INTEGER" />
		<result property="templateId" column="TEMPLATE_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="MenusModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,CORRELATION_ID,SUBSYSTEM_ID,LEVEL_NUM,PARENT_ID,MODULE_ID,TEMPLATE_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="MenusModel">
		INSERT INTO CD_R_MENUS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			CORRELATION_ID,
			SUBSYSTEM_ID,
			LEVEL_NUM,
			PARENT_ID,
			MODULE_ID,
			TEMPLATE_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ correlationId,jdbcType=INTEGER},
			#{ subsystemId,jdbcType=INTEGER},
			#{ levelNum,jdbcType=INTEGER},
			#{ parentId,jdbcType=INTEGER},
			#{ moduleId,jdbcType=INTEGER},
			#{ templateId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_R_MENUS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			CORRELATION_ID ,
			SUBSYSTEM_ID ,
			LEVEL_NUM ,
			PARENT_ID ,
			MODULE_ID ,
			TEMPLATE_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.correlationId,jdbcType=INTEGER},
				#{item.subsystemId,jdbcType=INTEGER},
				#{item.levelNum,jdbcType=INTEGER},
				#{item.parentId,jdbcType=INTEGER},
				#{item.moduleId,jdbcType=INTEGER},
				#{item.templateId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="MenusModel" >
		UPDATE CD_R_MENUS 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="correlationId != null">CORRELATION_ID = #{ correlationId,jdbcType=INTEGER},</if>
		<if test="subsystemId != null">SUBSYSTEM_ID = #{ subsystemId,jdbcType=INTEGER},</if>
		<if test="levelNum != null">LEVEL_NUM = #{ levelNum,jdbcType=INTEGER},</if>
		<if test="parentId != null">PARENT_ID = #{ parentId,jdbcType=INTEGER},</if>
		<if test="moduleId != null">MODULE_ID = #{ moduleId,jdbcType=INTEGER},</if>
		<if test="templateId != null">TEMPLATE_ID = #{ templateId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_R_MENUS 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.correlationId != null">CORRELATION_ID = #{item.correlationId,jdbcType=INTEGER},</if>
			<if test="item.subsystemId != null">SUBSYSTEM_ID = #{item.subsystemId,jdbcType=INTEGER},</if>
			<if test="item.levelNum != null">LEVEL_NUM = #{item.levelNum,jdbcType=INTEGER},</if>
			<if test="item.parentId != null">PARENT_ID = #{item.parentId,jdbcType=INTEGER},</if>
			<if test="item.moduleId != null">MODULE_ID = #{item.moduleId,jdbcType=INTEGER},</if>
			<if test="item.templateId != null">TEMPLATE_ID = #{item.templateId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_R_MENUS
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_R_MENUS
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_R_MENUS
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_R_MENUS
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="MenusResult">
		SELECT 
		<include refid="MenusModel_Column_List" />
		FROM CD_R_MENUS WHERE DELETED_FLAG='0' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="MenusResult" >
		SELECT 
		<include refid="MenusModel_Column_List" />
		FROM CD_R_MENUS WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="MenusResult" >
		SELECT 
		<include refid="MenusModel_Column_List" />
		FROM CD_R_MENUS
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="MenusResult" >
		SELECT 
		<include refid="MenusModel_Column_List" />
		FROM CD_R_MENUS
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="MenusResult" >
		SELECT *
		FROM CD_R_MENUS
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="MenusResult"> ${sql} </select>

</mapper>

