<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xbp.core.mapper.auth.TemplateMapper">

	<resultMap id="TemplateResult"  type="TemplateModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="templateName" column="TEMPLATE_NAME" jdbcType="VARCHAR" />
		<result property="templateStyle" column="TEMPLATE_STYLE" jdbcType="VARCHAR" />
		<result property="moduleId" column="MODULE_ID" jdbcType="INTEGER" />
		<result property="roleType" column="ROLE_TYPE" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="TemplateModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,TEMPLATE_NAME,TEMPLATE_STYLE,MODULE_ID,ROLE_TYPE
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="TemplateModel">
		INSERT INTO CD_O_TEMPLATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			TEMPLATE_NAME,
			TEMPLATE_STYLE,
			MODULE_ID,
			ROLE_TYPE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ templateName,jdbcType=VARCHAR},
			#{ templateStyle,jdbcType=VARCHAR},
			#{ moduleId,jdbcType=INTEGER},
			#{ roleType,jdbcType=VARCHAR}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_O_TEMPLATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			TEMPLATE_NAME ,
			TEMPLATE_STYLE ,
			MODULE_ID ,
			ROLE_TYPE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.templateName,jdbcType=VARCHAR},
				#{item.templateStyle,jdbcType=VARCHAR},
				#{item.moduleId,jdbcType=INTEGER},
				#{item.roleType,jdbcType=VARCHAR}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="TemplateModel" >
		UPDATE CD_O_TEMPLATE 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="templateName != null">TEMPLATE_NAME = #{ templateName,jdbcType=VARCHAR},</if>
		<if test="templateStyle != null">TEMPLATE_STYLE = #{ templateStyle,jdbcType=VARCHAR},</if>
		<if test="moduleId != null">MODULE_ID = #{ moduleId,jdbcType=INTEGER},</if>
		<if test="roleType != null">ROLE_TYPE = #{ roleType,jdbcType=VARCHAR}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_O_TEMPLATE 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.templateName != null">TEMPLATE_NAME = #{item.templateName,jdbcType=VARCHAR},</if>
			<if test="item.templateStyle != null">TEMPLATE_STYLE = #{item.templateStyle,jdbcType=VARCHAR},</if>
			<if test="item.moduleId != null">MODULE_ID = #{item.moduleId,jdbcType=INTEGER},</if>
			<if test="item.roleType != null">ROLE_TYPE = #{item.roleType,jdbcType=VARCHAR}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_O_TEMPLATE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_O_TEMPLATE
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_O_TEMPLATE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_O_TEMPLATE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="TemplateResult">
		SELECT 
		<include refid="TemplateModel_Column_List" />
		FROM CD_O_TEMPLATE WHERE DELETED_FLAG='0' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="TemplateResult" >
		SELECT 
		<include refid="TemplateModel_Column_List" />
		FROM CD_O_TEMPLATE WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="TemplateResult" >
		SELECT 
		<include refid="TemplateModel_Column_List" />
		FROM CD_O_TEMPLATE
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="TemplateResult" >
		SELECT 
		<include refid="TemplateModel_Column_List" />
		FROM CD_O_TEMPLATE
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="TemplateResult" >
		SELECT *
		FROM CD_O_TEMPLATE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="TemplateResult"> ${sql} </select>

</mapper>

