<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xbp.core.mapper.organization.CompanyMapper">

	<resultMap id="CompanyResult"  type="CompanyModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="companyMark" column="COMPANY_MARK" jdbcType="VARCHAR" />
		<result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR" />
		<result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR" />
		<result property="sortName" column="SORT_NAME" jdbcType="VARCHAR" />
		<result property="companyNameEn" column="COMPANY_NAME_EN" jdbcType="VARCHAR" />
		<result property="isBloc" column="IS_BLOC" jdbcType="VARCHAR" />
		<result property="supCompanyId" column="SUP_COMPANY_ID" jdbcType="INTEGER" />
		<result property="companyClass" column="COMPANY_CLASS" jdbcType="VARCHAR" />
		<result property="companyType" column="COMPANY_TYPE" jdbcType="VARCHAR" />
		<result property="cussupType" column="CUSSUP_TYPE" jdbcType="CHAR" />
		<result property="companyScale" column="COMPANY_SCALE" jdbcType="VARCHAR" />
		<result property="traceSource" column="TRACE_SOURCE" jdbcType="VARCHAR" />
		<result property="tracePeople" column="TRACE_PEOPLE" jdbcType="VARCHAR" />
		<result property="tpCell" column="TP_CELL" jdbcType="VARCHAR" />
		<result property="logo" column="LOGO" jdbcType="LONGVARCHAR" />
		<result property="province" column="PROVINCE" jdbcType="VARCHAR" />
		<result property="city" column="CITY" jdbcType="VARCHAR" />
		<result property="county" column="COUNTY" jdbcType="VARCHAR" />
		<result property="companyAddress" column="COMPANY_ADDRESS" jdbcType="VARCHAR" />
		<result property="idCard" column="ID_CARD" jdbcType="VARCHAR" />
		<result property="companyPhoto" column="COMPANY_PHOTO" jdbcType="LONGVARCHAR" />
		<result property="longitude" column="LONGITUDE" jdbcType="DECIMAL" />
		<result property="latitude" column="LATITUDE" jdbcType="DECIMAL" />
		<result property="area" column="AREA" jdbcType="DECIMAL" />
		<result property="registerTime" column="REGISTER_TIME" jdbcType="TIMESTAMP" />
		<result property="registerIp" column="REGISTER_IP" jdbcType="VARCHAR" />
		<result property="openTime" column="OPEN_TIME" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="CompanyModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,COMPANY_MARK,COMPANY_CODE,COMPANY_NAME,SORT_NAME,COMPANY_NAME_EN,IS_BLOC,SUP_COMPANY_ID,COMPANY_CLASS,COMPANY_TYPE,CUSSUP_TYPE,COMPANY_SCALE,TRACE_SOURCE,TRACE_PEOPLE,TP_CELL,LOGO,PROVINCE,CITY,COUNTY,COMPANY_ADDRESS,ID_CARD,COMPANY_PHOTO,LONGITUDE,LATITUDE,AREA,REGISTER_TIME,REGISTER_IP,OPEN_TIME
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   parameterType="CompanyModel">
		INSERT INTO HR_M_COMPANY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ROW_ID,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			COMPANY_MARK,
			COMPANY_CODE,
			COMPANY_NAME,
			SORT_NAME,
			COMPANY_NAME_EN,
			IS_BLOC,
			SUP_COMPANY_ID,
			COMPANY_CLASS,
			COMPANY_TYPE,
			CUSSUP_TYPE,
			COMPANY_SCALE,
			TRACE_SOURCE,
			TRACE_PEOPLE,
			TP_CELL,
			LOGO,
			PROVINCE,
			CITY,
			COUNTY,
			COMPANY_ADDRESS,
			ID_CARD,
			COMPANY_PHOTO,
			LONGITUDE,
			LATITUDE,
			AREA,
			REGISTER_TIME,
			REGISTER_IP,
			OPEN_TIME
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ rowId,jdbcType=INTEGER},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ companyMark,jdbcType=VARCHAR},
			#{ companyCode,jdbcType=VARCHAR},
			#{ companyName,jdbcType=VARCHAR},
			#{ sortName,jdbcType=VARCHAR},
			#{ companyNameEn,jdbcType=VARCHAR},
			#{ isBloc,jdbcType=VARCHAR},
			#{ supCompanyId,jdbcType=INTEGER},
			#{ companyClass,jdbcType=VARCHAR},
			#{ companyType,jdbcType=VARCHAR},
			#{ cussupType,jdbcType=CHAR},
			#{ companyScale,jdbcType=VARCHAR},
			#{ traceSource,jdbcType=VARCHAR},
			#{ tracePeople,jdbcType=VARCHAR},
			#{ tpCell,jdbcType=VARCHAR},
			#{ logo,jdbcType=LONGVARCHAR},
			#{ province,jdbcType=VARCHAR},
			#{ city,jdbcType=VARCHAR},
			#{ county,jdbcType=VARCHAR},
			#{ companyAddress,jdbcType=VARCHAR},
			#{ idCard,jdbcType=VARCHAR},
			#{ companyPhoto,jdbcType=LONGVARCHAR},
			#{ longitude,jdbcType=DECIMAL},
			#{ latitude,jdbcType=DECIMAL},
			#{ area,jdbcType=DECIMAL},
			#{ registerTime,jdbcType=TIMESTAMP},
			#{ registerIp,jdbcType=VARCHAR},
			#{ openTime,jdbcType=TIMESTAMP}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO HR_M_COMPANY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ROW_ID ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			COMPANY_MARK ,
			COMPANY_CODE ,
			COMPANY_NAME ,
			SORT_NAME ,
			COMPANY_NAME_EN ,
			IS_BLOC ,
			SUP_COMPANY_ID ,
			COMPANY_CLASS ,
			COMPANY_TYPE ,
			CUSSUP_TYPE ,
			COMPANY_SCALE ,
			TRACE_SOURCE ,
			TRACE_PEOPLE ,
			TP_CELL ,
			LOGO ,
			PROVINCE ,
			CITY ,
			COUNTY ,
			COMPANY_ADDRESS ,
			ID_CARD ,
			COMPANY_PHOTO ,
			LONGITUDE ,
			LATITUDE ,
			AREA ,
			REGISTER_TIME ,
			REGISTER_IP ,
			OPEN_TIME 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.rowId,jdbcType=INTEGER},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.companyMark,jdbcType=VARCHAR},
				#{item.companyCode,jdbcType=VARCHAR},
				#{item.companyName,jdbcType=VARCHAR},
				#{item.sortName,jdbcType=VARCHAR},
				#{item.companyNameEn,jdbcType=VARCHAR},
				#{item.isBloc,jdbcType=VARCHAR},
				#{item.supCompanyId,jdbcType=INTEGER},
				#{item.companyClass,jdbcType=VARCHAR},
				#{item.companyType,jdbcType=VARCHAR},
				#{item.cussupType,jdbcType=CHAR},
				#{item.companyScale,jdbcType=VARCHAR},
				#{item.traceSource,jdbcType=VARCHAR},
				#{item.tracePeople,jdbcType=VARCHAR},
				#{item.tpCell,jdbcType=VARCHAR},
				#{item.logo,jdbcType=LONGVARCHAR},
				#{item.province,jdbcType=VARCHAR},
				#{item.city,jdbcType=VARCHAR},
				#{item.county,jdbcType=VARCHAR},
				#{item.companyAddress,jdbcType=VARCHAR},
				#{item.idCard,jdbcType=VARCHAR},
				#{item.companyPhoto,jdbcType=LONGVARCHAR},
				#{item.longitude,jdbcType=DECIMAL},
				#{item.latitude,jdbcType=DECIMAL},
				#{item.area,jdbcType=DECIMAL},
				#{item.registerTime,jdbcType=TIMESTAMP},
				#{item.registerIp,jdbcType=VARCHAR},
				#{item.openTime,jdbcType=TIMESTAMP}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="CompanyModel" >
		UPDATE HR_M_COMPANY 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="companyMark != null">COMPANY_MARK = #{ companyMark,jdbcType=VARCHAR},</if>
		<if test="companyCode != null">COMPANY_CODE = #{ companyCode,jdbcType=VARCHAR},</if>
		<if test="companyName != null">COMPANY_NAME = #{ companyName,jdbcType=VARCHAR},</if>
		<if test="sortName != null">SORT_NAME = #{ sortName,jdbcType=VARCHAR},</if>
		<if test="companyNameEn != null">COMPANY_NAME_EN = #{ companyNameEn,jdbcType=VARCHAR},</if>
		<if test="isBloc != null">IS_BLOC = #{ isBloc,jdbcType=VARCHAR},</if>
		<if test="supCompanyId != null">SUP_COMPANY_ID = #{ supCompanyId,jdbcType=INTEGER},</if>
		<if test="companyClass != null">COMPANY_CLASS = #{ companyClass,jdbcType=VARCHAR},</if>
		<if test="companyType != null">COMPANY_TYPE = #{ companyType,jdbcType=VARCHAR},</if>
		<if test="cussupType != null">CUSSUP_TYPE = #{ cussupType,jdbcType=CHAR},</if>
		<if test="companyScale != null">COMPANY_SCALE = #{ companyScale,jdbcType=VARCHAR},</if>
		<if test="traceSource != null">TRACE_SOURCE = #{ traceSource,jdbcType=VARCHAR},</if>
		<if test="tracePeople != null">TRACE_PEOPLE = #{ tracePeople,jdbcType=VARCHAR},</if>
		<if test="tpCell != null">TP_CELL = #{ tpCell,jdbcType=VARCHAR},</if>
		<if test="logo != null">LOGO = #{ logo,jdbcType=LONGVARCHAR},</if>
		<if test="province != null">PROVINCE = #{ province,jdbcType=VARCHAR},</if>
		<if test="city != null">CITY = #{ city,jdbcType=VARCHAR},</if>
		<if test="county != null">COUNTY = #{ county,jdbcType=VARCHAR},</if>
		<if test="companyAddress != null">COMPANY_ADDRESS = #{ companyAddress,jdbcType=VARCHAR},</if>
		<if test="idCard != null">ID_CARD = #{ idCard,jdbcType=VARCHAR},</if>
		<if test="companyPhoto != null">COMPANY_PHOTO = #{ companyPhoto,jdbcType=LONGVARCHAR},</if>
		<if test="longitude != null">LONGITUDE = #{ longitude,jdbcType=DECIMAL},</if>
		<if test="latitude != null">LATITUDE = #{ latitude,jdbcType=DECIMAL},</if>
		<if test="area != null">AREA = #{ area,jdbcType=DECIMAL},</if>
		<if test="registerTime != null">REGISTER_TIME = #{ registerTime,jdbcType=TIMESTAMP},</if>
		<if test="registerIp != null">REGISTER_IP = #{ registerIp,jdbcType=VARCHAR},</if>
		<if test="openTime != null">OPEN_TIME = #{ openTime,jdbcType=TIMESTAMP}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE HR_M_COMPANY 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.companyMark != null">COMPANY_MARK = #{item.companyMark,jdbcType=VARCHAR},</if>
			<if test="item.companyCode != null">COMPANY_CODE = #{item.companyCode,jdbcType=VARCHAR},</if>
			<if test="item.companyName != null">COMPANY_NAME = #{item.companyName,jdbcType=VARCHAR},</if>
			<if test="item.sortName != null">SORT_NAME = #{item.sortName,jdbcType=VARCHAR},</if>
			<if test="item.companyNameEn != null">COMPANY_NAME_EN = #{item.companyNameEn,jdbcType=VARCHAR},</if>
			<if test="item.isBloc != null">IS_BLOC = #{item.isBloc,jdbcType=VARCHAR},</if>
			<if test="item.supCompanyId != null">SUP_COMPANY_ID = #{item.supCompanyId,jdbcType=INTEGER},</if>
			<if test="item.companyClass != null">COMPANY_CLASS = #{item.companyClass,jdbcType=VARCHAR},</if>
			<if test="item.companyType != null">COMPANY_TYPE = #{item.companyType,jdbcType=VARCHAR},</if>
			<if test="item.cussupType != null">CUSSUP_TYPE = #{item.cussupType,jdbcType=CHAR},</if>
			<if test="item.companyScale != null">COMPANY_SCALE = #{item.companyScale,jdbcType=VARCHAR},</if>
			<if test="item.traceSource != null">TRACE_SOURCE = #{item.traceSource,jdbcType=VARCHAR},</if>
			<if test="item.tracePeople != null">TRACE_PEOPLE = #{item.tracePeople,jdbcType=VARCHAR},</if>
			<if test="item.tpCell != null">TP_CELL = #{item.tpCell,jdbcType=VARCHAR},</if>
			<if test="item.logo != null">LOGO = #{item.logo,jdbcType=LONGVARCHAR},</if>
			<if test="item.province != null">PROVINCE = #{item.province,jdbcType=VARCHAR},</if>
			<if test="item.city != null">CITY = #{item.city,jdbcType=VARCHAR},</if>
			<if test="item.county != null">COUNTY = #{item.county,jdbcType=VARCHAR},</if>
			<if test="item.companyAddress != null">COMPANY_ADDRESS = #{item.companyAddress,jdbcType=VARCHAR},</if>
			<if test="item.idCard != null">ID_CARD = #{item.idCard,jdbcType=VARCHAR},</if>
			<if test="item.companyPhoto != null">COMPANY_PHOTO = #{item.companyPhoto,jdbcType=LONGVARCHAR},</if>
			<if test="item.longitude != null">LONGITUDE = #{item.longitude,jdbcType=DECIMAL},</if>
			<if test="item.latitude != null">LATITUDE = #{item.latitude,jdbcType=DECIMAL},</if>
			<if test="item.area != null">AREA = #{item.area,jdbcType=DECIMAL},</if>
			<if test="item.registerTime != null">REGISTER_TIME = #{item.registerTime,jdbcType=TIMESTAMP},</if>
			<if test="item.registerIp != null">REGISTER_IP = #{item.registerIp,jdbcType=VARCHAR},</if>
			<if test="item.openTime != null">OPEN_TIME = #{item.openTime,jdbcType=TIMESTAMP}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  HR_M_COMPANY
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  HR_M_COMPANY
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  HR_M_COMPANY
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  HR_M_COMPANY
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="CompanyResult">
		SELECT 
		<include refid="CompanyModel_Column_List" />
		FROM HR_M_COMPANY WHERE DELETED_FLAG='0' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="CompanyResult" >
		SELECT 
		<include refid="CompanyModel_Column_List" />
		FROM HR_M_COMPANY WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="CompanyResult" >
		SELECT 
		<include refid="CompanyModel_Column_List" />
		FROM HR_M_COMPANY
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="CompanyResult" >
		SELECT 
		<include refid="CompanyModel_Column_List" />
		FROM HR_M_COMPANY
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="CompanyResult" >
		SELECT *
		FROM HR_M_COMPANY
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="CompanyResult"> ${sql} </select>

</mapper>

